<section class="login-page">

  <header class="page-header">
    <h1>Enter Your Login Information!</h1>
  </header>

  <div class="row">
    <div class="col-sm-6 col-sm-offset-1">
      <%= form_tag '/login' do %>

        <div class="form-group">
          <div>Email</div>
          <%= text_field_tag :email %>
        </div>
        <br>
        <div class="form-group">
         <div>Password</div>
          <%= password_field_tag :password %>
        </div>
        <br>
        <%= submit_tag 'Login!', class: 'btn btn-primary' %>
      <% end %>
    </div>
  </div>

</section>
