
<header class="page-header">
  <h1>Admin &raquo; Dashboard</h1>
</header>

<div class="card w-50 text-center">
  <div class="card-header">
    <h3>Current Statistics For Store</h3>
  </div>
  <div class="card-body">
    <h5 class="card-title">Number of Product Categories: <strong> <%= @categories_count%> </strong> </h5>
    <h5 class="card-title">Number of Product Types Available:  <strong> <%= @products_count%> </strong></h5>
  </div>
  <div class="card-footer text-muted">
  <%= link_to 'See All Products', admin_products_path, class: 'btn btn-primary' %>
  </div>
</div>